<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>

<p> Hello World </p>

<!-- 
SINGLE ROW HEADER BAR ?? INCLUDE THE APPROACHING DUE DATES IN THE HEADER ROW?

SINGLE ROW: APPROACHING DUE DATES    

3 COLLUMNS
(1/3) TODAY'S TASKS
(1/3) TOMORROW'S TASKS
(1/3 )THIS WEEK'S TASKS 
BUTTONS TO CHECK OFF TASK, BUTTON TO DELETE TASK CLICLABLE TO EDIT TASK 

TWO COLLUMN: 
(2/3) INPUT TASKS INPUT FORM WITH BUTTONS WITH CANCEL 
(1/3) ALL TASKS, BUTTONS TO CHECK OFF TASK, BUTTON TO DELETE TASK CLICLABLE TO EDIT TASK -->

    <script src="/jquery/jquery.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <script src="/index.js"></script>
</body>

</html>